html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
   height: 100%;
   overflow-x: hidden;
}

/*navbar styling*/

.bg-color {

    background-color: #af0505 !important;
}

.nav-link{
    color: white;
    font-size: 30px;
}


/*carousel styling*/

.card{
    background-color: rgb(238, 113, 113);
}

/*hotels*/

.HotelSearchWidget__searchWidgetField___2s8s3{
    padding-top: 15px;
}

.HotelSearchWidget__searchWidgetFieldPadded___3a25d {
    padding-top: 15px;
}

.ReferralButton__buttonContainer___3X6Dk {
    padding-top: 20px;
}

